@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'poppins',sans-serif;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: white;
}

header {
    
    color: black;
    padding: 10px 20px;
    align-items: center;
}

header .location {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .location span {
    color: black;
}

header .user {
    font-size: 1rem;
}



h4 i{
    color: #e39b1e;
    margin-right: 10px;
}

h4 span{
    color: #444;
    font-weight: 200;
}

.location button{
    
    background-color: #e39b1e;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.user{
    margin-top: 5px;
    font-weight: bold;
}

.user #btnuser-profile-btn{
    position: absolute;
}

.user a{
    color: black;
    text-decoration: none;
}
.user i{
    margin: 5px;
    font-size: 21px;
}

span i{
    color: black;
}

.search-bar input {
    width: 27%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    border-radius: 10px;
    position: absolute;
    left: 70%;
    bottom: 88%;
}

.search-bar i{
    position: absolute;
    left: 94%;
    bottom: 89%;
    font-size: 20px;
    
}

.right-side{
    position: absolute;
    left: 90%;
    bottom: 84%;   
    float: right;
}
.user{
    display: flex;
    position: relative;
    right: 50px;
    bottom:90%;
    
}
.user #user-profile-btn,#logout-button
{
    color:white;
    background: orange;
    border : solid black 1px;
    border-radius: 4px;
    padding: 1px 1px 1px 1px;
    display: flex;
    margin-bottom: 80px;
    text-decoration: none;

}
nav {
    background-color:#FFF0DB;
    padding: 10px;
    margin-top: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: #444;
    cursor: pointer;
}

.main {
   margin: 20px;
}

.hot-deals {
    margin: 1px 0px 50px 0px;
    display: inline-block;
    
}

.main h4 {
    color: #444;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    bottom: 65%;
}

.main h4 span{
    color: #e39b1e;
    font-weight: bold;

}

.deals {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.deal-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.deal-card img {
    height: 230px;
    width: 600px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
}

.product-detail{
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top:170px;
    left:45%;
    border-bottom: dashed #e39b1e;
    width: 110vh;

}

.card1{
   position: absolute;
   left: 60%;
   bottom: 28%;
}

.card1 .card-text{
    margin-left:20px;;
}

.card2{
    position: absolute;
    left: 72.5%;
    bottom: 28%;

}

 #logout-button{
    background: sandybrown;
    border : solid rgb(255, 255, 255) 1px;
    border-radius: 5px;
 }
 
.card2 .card-text{
    margin-left: 40px;
}

.card3{
    position: absolute;
    left: 87%;
    bottom: 28%;
}

.card3 .card-img-top{
    margin-bottom: 18px;
    height: 150px;
    width: 120px;
}

.card3 .card-text{
    margin-left: 10px;
}

.card4{
    position: relative;
    left: 95vh;
    top: 10.5vh;
}

.card4 .card-text{
    margin-left: 20px;

}

.card-text span{
    color: red;
    background-color: aliceblue;
    margin-left: 8px;
    font-size: smaller;
}


.today-deals .today-news{
    font-weight: bold;
    font-size: 25px;
    border-bottom: dashed #e39b1e;   
}

.today-deals{
    margin-top: 50px;
    margin-left: 10px;
    
}

.second-product-list{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.card5{
    border: 2px solid aliceblue;
    cursor: pointer;
}

.add-cart{
    background-color: aliceblue;
    /* margin-right: 42px; */
    padding-top: 3px;
    padding-bottom: 1px;
    margin-left: 5px;
    display: inline-block;
    font-size: 13px;
    border: none;
}

 .card-body .add-cart{
    border: none;
}

.card-body{
    border: none;
}
.add-cart button{
    background-color: #e39b1e;
    color: black;
    border-radius: 8px;
    font-size: smaller;
    border: none;
    font-size: 12px;
}
 
.card5 .card-text{
    margin: 5px;
    
}

.card6{
    border: 2px solid aliceblue;
    
}

.card6 .card-text span{
    margin-left: 10px;
}

.card6 .card-text{
    margin: 5px;
}

.card7 img{
    height: 150px;
    width: 200px;
    margin-top: 30px;

}

.card7{
    border: 2px solid aliceblue;
    
}

.card7 .card-text{
    margin-top: 20px;
    margin-left: 5px;
}

.card7 .add-cart{
    margin-top: 10px;
}
.card8{
    border: 2px solid aliceblue;
    
}

.card8 .card-body{
    margin-top: 13px;
    margin-left: 5px;
}

.card8 .add-cart{
    margin-top: 10px;
}

.card9{
    border: 2px solid aliceblue;
    
}

.card9  img{
    height: 150px;
    margin-top: 20px;
}

.card9 .card-body{
    margin-top: 20px;
    margin-left: 5px;
}

.card10{
    border: 2px solid aliceblue;
    
}

.card10  img{
    height: 150px;
    margin-top: 20px;
}

.card10 .card-body{
    margin-top: 20px;
    margin-left: 5px;
}

.card11  img{
    height: 150px;
    width: 240px;
    margin-top: 20px;
}

.card11{
    border: 2px solid aliceblue;
    
}

.card11 .card-body{
    margin-top: 20px;
    margin-left: 5px;
}

/* Review Purchase*/

.review{
    margin-top: 20px;
}

.review p{
    font-weight: bold;
    font-size: 25px;
    border-bottom: dashed #e39b1e;   
}

.product1{
    width: 40%;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
}


.review-product{
    display: flex;
    justify-content: space-between;

}

.review-product .star{
    font-size: 25px;
    border: none;
}
 
.product1 img{
    width: 200px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
}

.product2 img{
    width: 300px;
    height: 250px;
    margin-top: 20px;
}

.product2{
    width: 40%;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
}

.pro1-content h2{
    font-size: 20px;
}

.pro1-content p{
    font-size: 15px;
    font-weight: 200;
}

.pro1-content{
    margin-top: 5%
}

.pro2-content{
    margin-top: 20px;
}

.review-product p{
    font-size: px;
    border: none;
}

.star{
    color: #f19a04;
    font-size: 30px;
}

/* OnClick */


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; /* Adjust this value to match your navbar's height */
    z-index: 1000; /* Ensure the navbar stays above other content */
}

.expanded-card {
    position: absolute;
    top: 19%;
    right: 0;
    width: 40%;
    height: 117.3%;
    background-color: white;
    z-index: 9999;
    padding: 20px;
    color:black;
    
}
.expanded-card.hidden {
    display: none;
}
.expanded-details{
    margin-left: 14%;
    margin-top: 10px;
}

.expanded-details .close-btn{
    position: absolute;
    right: 4%;
    top: 2%;
}

.expanded-details input{
    width: 20%;
}

#expanded-title{
    margin-top: 10px;
}

.expanded-details h4 i{
    color: #000;
}

.expanded-details h4{
    font-size: medium;
    margin-top: 10px;
}

.expanded-details .cart-btn{
    position: absolute;
    right: 5%;
    bottom: 26.5%;
    padding: 5px 20px ;
    background-color: orange;
    border-radius: 7.5px;
    
}

#expanded-price{
    font-weight: 600;
    margin-bottom: 12%;

}

#order-detail {
    margin-top: 10px;
}
.first-left {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    position: absolute;
    left: 1%;
    gap: 10px;
    top: 2%
}

.first-left-1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    position: absolute;
    left: 1%;
    gap: 10px;
    top: 2%
}


.expanded-content {
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
 #expanded-img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 10%;
}


.colors-div{
    display: flex;
    gap: 7px;
}

.colors-div .color1{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.colors-div .color2{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.colors-div .color3{
    background-color: blueviolet;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.colors-div .color4{
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.share-btn{
    background-color: aliceblue;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.share-btn ul{
    margin: 0px;
    display: inline-block;
    gap: 20px;
}

/* Footer */

footer{
    background-color: #444;
    color: white;
    margin-top: 10px;
}

.foot-one{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
}

.foot-one span{
    color: white;
    font-weight: 200;
}
.foot-one,.foot-two{
    display: inline-block;
}

ul li{
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

ul{
    margin-left: 70vh;
    
}

.footer-content {
    display: inline-block;
    margin-left: 55vh;
    color: black;
   
}

.footer-content .country-select{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}


/* popup-black */
.popup-black{
    width: 150%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    position: absolute;
    left: -150%;
    top: 0;
    z-index: 1;
    overflow-y: hidden;
}